<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      .hover-bg-blue-600:hover {
        background-color: #2563eb !important;
      }
      .hover-bg-indigo-600:hover {
        background-color: #4f46e5 !important;
      }
    </style>
  </head>
  <body
    style="
      font-family: sans-serif;
      margin: 0;
      background-color: #0e0e0e;
      color: #fffffe;
    "
  >
    <main
      style="
        margin-left: auto;
        margin-right: auto;
        display: flex;
        max-width: 576px;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
      "
    >
      <section style="text-align: center">
        <div
          style="
            background-image: url('https://mgck.ink/uploads/gallery1-thumbnail.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div
            style="
              display: flex;
              width: 100%;
              flex-direction: column;
              gap: 48px;
              background-color: rgb(14 14 14 / 0.7);
              padding-top: 24px;
              padding-bottom: 24px;
            "
          >
            <div>
              <div style="display: flex; justify-content: center">
                <span
                  style="
                    display: flex;
                    background-color: #fffffe;
                    padding: 8px 16px;
                    font-size: 24px;
                    font-weight: 700;
                    color: #000001;
                  "
                >
                  LOGO
                </span>
              </div>
              <h1
                style="margin-bottom: 24px; font-size: 30px; font-weight: 700"
              >
                EXAMPLES OF SERVICES OR PRODUCTS
              </h1>
            </div>
            <div>
              <p style="margin-bottom: 16px">
                Take a look at our awesome products
              </p>
              <button
                class="hover-bg-indigo-600"
                style="
                  cursor: pointer;
                  border-radius: 12px;
                  background-color: #3730a3;
                  padding: 8px 24px;
                  color: #fffffe;
                "
              >
                READ MORE BUTTON
              </button>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div style="padding: 32px">
          <p style="text-align: center; font-size: 18px; letter-spacing: 0.1em">
            Product or service feature
          </p>
          <h2
            style="
              margin-bottom: 16px;
              text-align: center;
              font-size: 24px;
              font-weight: 700;
            "
          >
            COOL FEATURE
          </h2>
          <p style="margin-bottom: 24px; text-align: center">
            Here is where you can try and captivate the users by providing them
            with some awesome additional information about this product.
            Something cool and everything is a good feature
          </p>
          <div
            style="
              display: grid;
              grid-template-columns: repeat(2, minmax(0, 1fr));
              align-items: center;
              gap: 24px;
              padding-top: 16px;
              padding-bottom: 16px;
            "
          >
            <div style="overflow: hidden">
              <img
                src="https://mgck.ink/uploads/gallery2-thumbnail.jpg"
                style="height: 100%; width: 100%; object-fit: contain"
                alt
              />
            </div>
            <div
              style="
                margin-bottom: 32px;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <h3
                style="
                  margin-bottom: 8px;
                  text-align: center;
                  font-size: 20px;
                  font-weight: 700;
                "
              >
                Sub-heading
              </h3>
              <p style="text-align: center; margin-top: 32px; margin-bottom: 0">
                Add additional feature listing here to help the user make an
                educated decision on purchasing this product or service
              </p>
              <button
                class="hover-bg-indigo-600"
                style="
                  cursor: pointer;
                  border-radius: 12px;
                  background-color: #3730a3;
                  padding: 8px 24px;
                  color: #fffffe;
                  margin: 32px auto 0;
                "
              >
                READ MORE BUTTON
              </button>
            </div>
          </div>
        </div>
        <div style="background-color: rgb(255 255 254 / 0.05); padding: 32px">
          <div
            style="
              display: grid;
              grid-template-columns: repeat(2, minmax(0, 1fr));
              align-items: center;
              gap: 24px;
              padding-top: 16px;
              padding-bottom: 16px;
            "
          >
            <div
              style="
                margin-bottom: 32px;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <h3
                style="
                  margin-bottom: 8px;
                  text-align: center;
                  font-size: 20px;
                  font-weight: 700;
                "
              >
                Secondary sub-heading
              </h3>
              <p style="text-align: center; margin-top: 32px; margin-bottom: 0">
                Add additional feature listing here to help the user make an
                educated decision on purchasing this product or service
              </p>
              <button
                class="hover-bg-indigo-600"
                style="
                  cursor: pointer;
                  border-radius: 12px;
                  background-color: #3730a3;
                  padding: 8px 24px;
                  color: #fffffe;
                  margin: 32px auto 0;
                "
              >
                READ MORE BUTTON
              </button>
            </div>
            <div style="overflow: hidden">
              <img
                src="https://mgck.ink/uploads/gallery2-thumbnail.jpg"
                style="height: 100%; width: 100%; object-fit: contain"
                alt
              />
            </div>
          </div>
        </div>
      </section>
      <section style="margin-bottom: 64px">
        <div
          style="border-radius: 8px; background-color: #0e0e0e; padding: 32px"
        >
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 16px;
            "
          >
            <div
              style="
                display: flex;
                height: 48px;
                width: 48px;
                align-items: center;
                justify-content: center;
                align-self: flex-start;
                border-radius: 9999px;
                background-color: #fffffe;
                padding: 8px;
                color: #000001;
              "
            >
              LOGO
            </div>
            <div style="display: flex; flex-direction: column; gap: 16px">
              <div style="display: flex; align-items: center; gap: 32px">
                <span style="font-weight: 700">COMPANY NAME</span>
                <button
                  class="hover-bg-blue-600"
                  style="
                    background-color: #3b82f6;
                    padding: 4px 16px;
                    font-weight: 600;
                    color: #fffffe;
                  "
                >
                  FOLLOW
                </button>
              </div>
              <div
                style="
                  display: flex;
                  gap: 24px;
                  font-size: 14px;
                  color: #94a3b8;
                "
              >
                <span>1,004K MESSAGES</span>
                <span>28K FOLLOWING</span>
                <span>190K FOLLOWING</span>
              </div>
              <p>
                Add additional feature listing here to help the user make an
                educated decision on purchasing this product or service
              </p>
            </div>
          </div>
        </div>
        <div style="background-color: #0e0e0e">
          <div
            style="
              display: grid;
              width: 100%;
              grid-template-columns: repeat(2, minmax(0, 1fr));
              justify-content: space-between;
              gap: 48px;
            "
          >
            <div style="overflow: hidden">
              <img
                src="https://mgck.ink/uploads/gallery1-thumbnail.jpg"
                style="height: 100%; width: 100%; object-fit: contain"
                alt
              />
            </div>
            <div style="display: flex; flex-direction: column">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 16px;
                "
              >
                <div
                  style="
                    display: flex;
                    height: 32px;
                    width: 32px;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-start;
                    border-radius: 9999px;
                    background-color: #fffffe;
                    padding: 8px;
                    font-size: 12px;
                    color: #000001;
                  "
                >
                  LOGO
                </div>
                <span style="font-weight: 700">COMPANY NAME</span>
                <div>
                  <button
                    class="hover-bg-blue-600"
                    style="
                      background-color: #3b82f6;
                      padding: 4px 16px;
                      font-weight: 600;
                      color: #fffffe;
                    "
                  >
                    FOLLOW
                  </button>
                </div>
              </div>
              <p>
                Add additional feature listing here to help the user make an
                educated decision on purchasing this product or service
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
