@import 'tailwindcss';

@theme {
  --color-primary: #23182f;
  --color-background: #0e0e0e;
  --color-foreground: white;
}

@layer utilities {
  .btn-gradient {
    @apply bg-gradient-to-r from-blue-500 to-purple-600;
  }
}
