@import 'tailwindcss';

@theme {
  --color-primary: #23182f;
  --color-primary-light: #9b5cc5;
  --color-background: #0e0e0e;
  --color-foreground: white;
}

@layer utilities {
  .btn-gradient {
    @apply bg-gradient-to-r from-blue-500 to-purple-600;
  }
  .primary-button {
    @apply text-foreground bg-primary hover:bg-primary-light cursor-pointer px-4 py-2 transition-all duration-200;
  }
  .primary-button-light {
    @apply text-foreground bg-primary-light cursor-pointer px-4 py-2 transition-all duration-200 hover:opacity-90;
  }
  .button-active {
    @apply bg-primary-light text-foreground cursor-pointer p-2;
  }
  .outline-button {
    @apply border-foreground/60 hover:bg-background/40 cursor-pointer border-2 p-2 transition-colors duration-150;
  }
  .nav-link {
    @apply hover:text-primary-light text-lg font-semibold underline-offset-4 transition-all duration-200 hover:underline lg:text-xl;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}
