@import 'tailwindcss';

@theme {
  --color-primary: #23182f;
  --color-primary-light: #9b5cc5;
  --color-background: #0e0e0e;
  --color-foreground: white;
}

@layer utilities {
  .btn-gradient {
    @apply bg-gradient-to-r from-blue-500 to-purple-600;
  }
  .nav-link {
    @apply hover:text-primary-light text-lg font-semibold underline-offset-4 transition-all duration-200 hover:underline lg:text-xl;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}
